/* Public font, main.html, and its classes*/
* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(TestBackground.jpg);
  background-position: center;
  background-size: cover;
}

nav {
  overflow: hidden;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  font-weight: 590;
}

nav img {
  width: 160px;
  margin-left: 10%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #33b1b7;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #33b1b7;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.nav-links ul li :hover:after {
  width: 100%;
}
/**/


.sign-buttons ul li {
  border: solid #33b1b7;
  border-radius: 3px;
  border-width: 1px;
  list-style: none;
  
  display: inline-block;
  padding: 8px 15px;
  position: relative;
}

.sign-buttons ul li a {
  color: #33b1b7;
  text-decoration: none;
  font-size: 14px;
}

.sign-buttons ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #33b1b7;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.sign-buttons ul li :hover:after {
  width: 100%;
}


.text-box {
  width: 100%;
  color: #33b1b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 40px;
}

.text-box p {
  margin: 10px 0 10px;
  font-size: 22px;
  color: #33b1b7;
}

.text-box p1 {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #33b1b7;
}

.join-btn {
  display: inline-block;
  text-decoration: none;
  color: #33b1b7;
  border: 1.75px solid #33b1b7;
  padding: 12px 34px;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.join-btn:hover {
  border: 1.5px solid #33b1b7;
  background: #33b1b7;
  transition: 0.3s;
  color: #fcfffd;
}

/* AccountCreation.html  */

.text-box-inAccChoose {
  width: 100%;
  color: #33b1b7;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box-inAccChoose h1 {
  font-size: 40px;
}

.text-box-inAccChoose p {
  margin: 10px 0 10px;
  font-size: 22px;
  color: #33b1b7;
}

.text-box-inAccChoose p1 {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #33b1b7;
}

.info-box {
  width: 300px; /* Set the width of the box */
  height: 350px;
  align-items: center;
  background-color: #fcfffd; /* Set the background color */
  padding: 20px; /* Add some padding */
  border: 6.5px solid #33b1b7; /* Add a border */
  border-radius: 10%;
  position: absolute;
  top: 40%;
  left: 70%;
}

.box-title {
  font-size: 26px; /* Set the font size for the title */
  margin-top: 0; /* Remove the default margin */
  text-align: center;
  color: #33b1b7;
}

.box-text {
  margin-top: 40px;
  margin-bottom: 15px; /* Add some spacing between the text and the list */
  text-align: right;
}

.box-list {
  list-style-type: none; /* Remove default list styles */
  padding-left: 0; /* Remove default left padding */
  text-align: right; /* Align list items to the right */
}

.box-list li {
  padding-right: 20px; /* Add spacing between list item text and right edge */
  position: relative; /* Set position to relative */
}

.box-list li::before {
  content: "\2022"; /* Add the bullet character (•) as content */
  position: absolute; /* Position the bullet absolutely */
  right: 0; /* Position the bullet to the right */
}
.info-box h6 {
  font-size: 11px;
  padding-top: 50px;
  text-align: center;
}

.join-as-tutor-button {
  padding: 20px;
  text-align: center;
}

.info-box-left {
  width: 300px; /* Set the width of the box */
  height: 350px;
  align-items: center;
  background-color: #fcfffd; /* Set the background color */
  padding: 20px; /* Add some padding */
  border: 6.5px solid #33b1b7; /* Add a border */
  border-radius: 10%;
  position: absolute;
  top: 40%;
  right: 70%;
}
.join-as-user-button {
  padding-top: 120px;
  text-align: center;
}

/* Contact us page style */

.header-for-contact-page {
  min-height: 100vh;
  width: 100%;
  background-image: url(TestBackground.jpg);
  background-position: center;
  background-size: cover;
}
.text-box-for-contact {
  width: 100%;
  color: #33b1b7;
  position: absolute;
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box-for-contact h1 {
  font-size: 40px;
}

.text-box-for-contact p {
  margin: 10px 0 10px;
  font-size: 22px;
  color: #33b1b7;
}

.text-box-for-contact p1 {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #33b1b7;
}
.row {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 7cqi;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}
.contact-col h3 {
  padding-bottom: 15px;
  color: #33b1b7;
}
.contact-col p {
  line-height: 160%;
  padding-bottom: 15px;
  color: #33b1b7;
}
.contact-col a {
  color: #33b1b7;
  text-decoration: none;
  font-weight: bold;
}

/* */


/* Add bold text in the page top in navBar */



/* TutorAccountCreate.html styles*/

.container-of-signup {
  padding-top: 10px;
  width: 500px;
  margin: 5% auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #33b1b7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
}
button{
  margin-top: 5px;
  width: 100%;
  flex-basis: 48%;
  text-align: center;
  background-color: #fcfffd;
  border: 1px solid #33b1b7;
  color: #33b1b7;
  height: 40px;
  border-radius: 3px;
  width: 50%;
  cursor: pointer;
  transform: translate(-50%);
}
button:hover {
  background-color: #33b1b7;
  color: #fcfffd;
  transition: 0.5s;
}

h2 {
  color: #33b1b7;
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #33b1b7;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 450px;
  padding: 10px;
  margin-bottom: 20px;
  align-self: center;
  border: 1px solid #33b1b7;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #fcfffd;
  color: #33b1b7;
  border: 1px solid #33b1b7;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}